<div class="container my-5">
    <div class="text-center">
      <h1 class="text-success">About Us</h1>
      <p class="lead text-muted">Discover how Sortify is changing the way you organize your life.</p>
    </div>
    <div class="box_coloured_background">
        <div class="row my-5">
        <div class="col-md-6 bordered_box">
            <h3 class="text-success aligned_text">Our Mission<hr></h3>
            <p>At Sortify, our mission is to simplify the complexities of everyday life
                by providing a seamless task management platform. <br>
                We strive to empower individuals and teams with the tools they need to stay
                organized, productive, and <u style="font-size: large;">focused on what truly matters.</u> <br>
                <br>Through a combination of <b style="font-size: large;">simplicity</b>, <b style="font-size: large;">security</b>,
                <b style="font-size: large;">functionality</b>,
                and <b style="font-size: large;">innovation</b>, we aim to reduce the
                stress of managing responsibilities and help our users achieve their goals <b style="font-size: large;">effortlessly</b>.
            </p>
        </div>

