<div class="container my-5">
    <div class="text-center">
      <h1 class="text-success">About Us</h1>
      <p class="lead text-muted">Discover how Sortify is changing the way you organize your life.</p>
    </div>
    <div class="box_coloured_background">
        <div class="row my-5">
        <div class="col-md-6 bordered_box">
            <h3 class="text-success aligned_text">Our Mission<hr></h3>
            <p>At Sortify, our mission is to simplify the complexities of everyday life
                by providing a seamless task management platform. <br>
                We strive to empower individuals and teams with the tools they need to stay
                organized, productive, and <u style="font-size: large;">focused on what truly matters.</u> <br>
                <br>Through a combination of <b style="font-size: large;">simplicity</b>, <b style="font-size: large;">security</b>,
                <b style="font-size: large;">functionality</b>,
                and <b style="font-size: large;">innovation</b>, we aim to reduce the
                stress of managing responsibilities and help our users achieve their goals <b style="font-size: large;">effortlessly</b>.
            </p>
        </div>
        <div class="col-md-6 bordered_box">
            <h3 class="text-success aligned_text">Our Vision<hr></h3>
            <p>Our vision is to create a world where managing tasks is no longer a burden
                but a <b>catalyst for success</b>. <br><br>We aspire to be the leading online task organizer,
                recognized for our commitment to a <b><u>user-centric design</u></b>, <b><u>cutting-edge technology</u></b>,
                and <b><u>unwavering reliability</u></b>. <br><br>By fostering a culture of organization and
                efficiency, we hope to inspire individuals to live their best lives, <b style="font-size: large;">one
                well-managed task at a time.</b>
            </p>
        </div>
        </div>
   
        <div class="row my-5">
        <div class="col-md-4 text-center">
            <i class="fas fa-check-circle fa-3x text-success"></i>
            <h4 class="mt-3">Easy to Use</h4>
            <p>Streamlined design for maximum usability.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-lock fa-3x text-success"></i>
            <h4 class="mt-3">Secure</h4>
            <p>Your data is safe and private with Sortify.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fas fa-tasks fa-3x text-success"></i>
            <h4 class="mt-3">Comprehensive</h4>
            <p>Everything you need to organize your life in one place.</p>
        </div>
        </div>
   
        <div class="text-center mt-5">
        <a href="/tasks" class="btn btn-success btn-lg">Get Started</a>
        </div>
    </div>
</div>

