<div class="body_margins container my-5">
    <h1 class="text-center mb-4">Contact Us</h1>
    <p class="text-center mb-4">Have any questions? Feel free to reach out to us by filling the form below.</p>
    <div class="row justify-content-center">
        <div class="contact_form col-md-8 col-lg-6 ">
            <form method="POST" action="/contactus" class="needs-validation" novalidate>
            <!--The above keyword "needs-validation" is for bootstraps validation features
            and the "novalidate" means that you stop the browser from automatically validating-->

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
                    <div class="invalid-feedback">Please enter your name.</div>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com"
                        required>
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Your Message</label>
                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message here..."
                    required></textarea>
                <div class="invalid-feedback">Please enter a message.</div>
            </div>
            <button type="submit" class="btn btn-success w-100">Send Message</button>
            <p class="text-center mb-3"><br>We appreciate you taking the time to reach out.
                <br>Please allow 3-5 business days for us to get back to you. <br><b>Thank You!</b>
            </p>
        </form>
    </div>
</div>
</div>


