<div class="container my-5">
    <div class="text-center">
        <h1 class="text-success">Our Services</h1>
        <p class="lead text-muted">Discover how Sortify's features can make your life
            more organized and productive.
        </p>
    </div>


    <div class="row my-5">
        <div class="col-md-6 mb-4">
            <div class="card h-100 box_coloured_background">
                <img src="/Assets/images/Prioritization.png" class="card-img-top card_img_size" alt="Task Prioritization">