<div class="container my-5">
    <div class="text-center">
        <h1 class="text-success">Our Services</h1>
        <p class="lead text-muted">Discover how Sortify's features can make your life
            more organized and productive.
        </p>
    </div>


    <div class="row my-5">
        <div class="col-md-6 mb-4">
            <div class="card h-100 box_coloured_background">
                <img src="/Assets/images/Prioritization.png" class="card-img-top card_img_size" alt="Task Prioritization">
                <div class="card-body">
                    <h5 class="card-title text-success">Task Prioritization<hr></h5>
                    <p class="card-text">Sortify's intelligent prioritization helps you focus on
                        what truly matters. Whether it's an urgent deadline or a high-impact task,
                        our system ensures you allocate your energy where it counts. <br>Say goodbye to
                        decision fatigue and hello to clarity and productivity.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 box_coloured_background">
                <img src="/Assets/images/Collaboration.png" class="card-img-top card_img_size" alt="Team Collaboration">
                <div class="card-body">
                    <h5 class="card-title text-success">Team Collaboration<hr></h5>
                    <p class="card-text">With Sortify, teamwork becomes seamless. Assign tasks, share
                        updates, and track progress all in one place. <br>Whether you're coordinating
                        with colleagues, family, or friends, our collaboration tools
                        keep everyone on the same page, fostering efficiency and harmony.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 box_coloured_background">
                <img src="/Assets/images/Productivity.png" class="card-img-top card_img_size"
                    alt="Daily Productivity Insights">
                <div class="card-body">
                    <h5 class="card-title text-success">Daily Productivity Insights<hr></h5>
                    <p class="card-text">Track your progress like never before with Sortify's
                        detailed productivity insights. <br>Get a clear view of your completed tasks,
                        upcoming deadlines, and time trends, enabling you to make smarter
                        decisions and celebrate your accomplishments.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 box_coloured_background">
                <img src="/Assets/images/Reminders.png" class="card-img-top card_img_size" alt="Task Reminders">
                <div class="card-body">
                    <h5 class="card-title text-success">Task Reminders<hr></h5>
                    <p class="card-text">Never let important tasks slip through the cracks.
                        Sortify's automated reminders ensure you stay ahead of your schedule.
                        <br>From daily alerts to deadline
                        notifications, you'll always know what's next.</p>
                </div>
            </div>
        </div>
    </div>
</div>



