<div class="container my-5">
    <div class="text-center">
      <img src="/Assets/images/Sortify Logo.jpg" class="rounded-circle img-fluid my-4 logo_" alt="Sortify Logo">
      <h1 class="text-success">Welcome to Sortify</h1>
      <p class="lead text-muted">Your ultimate online task organizer. Simplify your life, one task at a time.</p>
    </div>
 
    <div class="row text-center mt-5">
      <div class="col-md-4">
        <i class="fas fa-tasks fa-3x text-success"></i>
        <h3 class="mt-3">Organize Tasks</h3>
        <p>Easily create, edit, and track your tasks in one place.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-chart-line fa-3x text-success"></i>
        <h3 class="mt-3">Stay Productive</h3>
        <p>Stay on top of your to-dos with intuitive task tracking.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-user-check fa-3x text-success"></i>
        <h3 class="mt-3">Achieve Goals</h3>
        <p>Accomplish more by focusing on what matters most.</p>
      </div>
    </div>
 
    <div class="text-center mt-5">
      <a href="/tasks" class="btn btn-success btn-lg">Get Started</a>
    </div>
  </div>