<div class="container my-5">
    <div class="text-center">
      <img src="/Assets/images/Sortify Logo.jpg" class="rounded-circle img-fluid my-4 logo_" alt="Sortify Logo">
      <h1 class="text-success">Welcome to Sortify</h1>
      <p class="lead text-muted">Your ultimate online task organizer. Simplify your life, one task at a time.</p>
    </div>
 
