<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>


<main class="container mt-5 d-flex justify-content-center">
    <div class="card shadow p-4" style="width: 400px;">
        <h1 class="text-center mb-4">Register</h1>


        <% if (typeof errorMessage !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <%= errorMessage %>
            </div>
        <% } %>
