<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<h2 class="text-center my-4">Select Task Type</h2>
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-4 mb-4">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <a href="/tasks/active" class = "btn btn-light bg-dark mt-auto">
                        <h5 class="card-title text-info"><i class="fa-regular fa-rectangle-list"></i> Active Tasks</h5>
                        <p class="card-text text-info">View and manage all your active tasks.</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
            <div class="card text-center shadow h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <a href="/tasks/completed" class = "btn btn-light bg-dark mt-auto">
                        <h5 class="card-title text-light"><i class="fa-solid fa-rectangle-list"></i> Completed Tasks</h5>
                        <p class="card-text text-light">View and manage all your completed tasks.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include Partials/footer.ejs%>