<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<h2>Select Task Type</h2>
<div>
    <a href="/tasks/active" class="btn btn-primary">Active Tasks</a>
    <a href="/tasks/completed" class="btn btn-secondary">Completed Tasks</a>
</div>
<%- include Partials/footer.ejs%>